body{
    padding: 0;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.container{
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todocontainer{
    border-radius: 1rem;
    width: 36rem;
    height: 90vh;
    background-image: url(images/flower-illust.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem;
    text-align: center;
}

h1{
    font-weight: 500;
    font-size: 4rem;
}

.inputbox{
    width: 20rem;
    height: 2rem;
    border: none;
    border-bottom: 1px solid rgba(31, 51, 107);
    background-color: transparent;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 500;
}

.inputbox:focus{
    background-color: rgba(33, 80, 141, 0.349);
}

input:focus-visible{
    outline: none;    
}

button{
    border: none;
    background-color: transparent;
}

.task-area{
    font-family: "Nanum Gothic", sans-serif;
}

.task-menu{
    margin-bottom: 1rem;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.task-menu div{
    padding: 0.5rem 2.5rem;
}

#under-line{
    width: 6.5rem;
    border-bottom: 4px solid rgba(33, 80, 141);
    position: absolute;
    left: 0px;
    top: 1.3rem;
}

.task-list{
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.taskbox1{
    display: flex;
}

.task-done{
    text-decoration: line-through;
}

.ready-box{
    background-color: rgba(33, 80, 141, 0.349);
    margin-bottom: 0.25rem;
}

.done-box{
    background-color: rgba(238, 238, 238, 0.219);
    color: rgb(128, 127, 127);
    margin-bottom: 0.25rem;
}